<html>
	<head>
		<title>
			Sentimental Analysis
		</title>
		<style>
			body{
				background-color:#32C6BA;

				}
		</style>
	</head>

	<body>

	<table align='center'>
		<tr >
			<td> <font face="algerian" size="20" color="red" >Sentimental Analysis </font> </td>
		</tr>
	</table>
	<table align='center'>

	<form method="post">
		<tr><td align='center'><h2>Enter Your Text here!</h2></td></tr>
		<tr><td><textarea name="paragraph" cols="100" rows="20"></textarea></td></tr>
		<tr><td align='center'><input type="submit" name="submit" value="Analysis"></td></tr>
	</form>

	</table>
	</br></br></br>
	<table align='center'>
		<tr><td><font face='algerian' color="blue" size='40'>Polarity of text: </font><font face='algerian' color="Red" size='40'>{{msg}}</font></td></tr>

	</table>




	</body>
</html>